<main class="grid_login">
  <div class="bg_pet"></div>
  <div class="bg_pet con"></div>
  <div class="form_login">
    <form [formGroup]="form">
      <div class="tipo">
        <div class="iniciar" (click)="irLogin(1)"><a [ngClass]="{'pintar': tipo===1}">Iniciar Sesi&oacute;n</a></div>
        <div class="registrar" (click)="irRegistro(2)"><a [ngClass]="{'pintar': tipo===2}">Registrarse</a></div>
      </div>
      <h1 class="titulo">{{titulo}} sesión en el portal de mascotas</h1>
      <span class="descripcion">{{descripcion}} su correo electrónico a continuación para comenzar.</span>

      <div class="tipo_login" *ngIf="tipo === 1">

      <mat-form-field class="example-full-width mat_error_color" 
        [ngClass]="{'mat_error_border_color': validFormName('emailLogin') }" appearance="outline">
        <mat-label [ngClass]="{'mat_label_error': validFormName('emailLogin') }">
          Direcci&oacute;n de correo electr&oacute;nico
        </mat-label>
        <input formControlName="emailLogin" id="email" type="email" matInput>
      </mat-form-field>
      <div class="mat_error" *ngIf="validFormName('emailLogin')">
        <mat-error *ngIf="validHasError('emailLogin')===1">
          Este campo es requerido
        </mat-error>
        <mat-error *ngIf="validHasError('emailLogin')===2">
          Ingrese un correo válido
        </mat-error>
      </div>

        <mat-form-field class="example-full-width" appearance="outline" 
          [ngClass]="{'mat_error_border_color': validFormName('password') }">
          <mat-label [ngClass]="{'mat_label_error': validFormName('password') }">Contraseña</mat-label>
          <input formControlName="password" type="password" matInput>
        </mat-form-field>
        <div class="mat_error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          <mat-error *ngIf="validHasError('password')===1">
            Este campo es requerido
          </mat-error>
        </div>

      </div>

      <div class="tipo_registro" *ngIf="tipo === 2">

        <mat-form-field class="example-full-width" appearance="outline" 
          [ngClass]="{'mat_error_border_color': validFormName('emailRegistro') }">
          <mat-label>Direcci&oacute;n de correo electr&oacute;nico</mat-label>
          <input formControlName="emailRegistro" type="email" matInput>
        </mat-form-field>
        <div class="mat_error" *ngIf="validFormName('emailRegistro')">
          <mat-error *ngIf="validHasError('emailRegistro')===1">
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="validHasError('emailRegistro')===2">
            Ingrese un correo electr&oacute;nico
          </mat-error>
        </div>

        <mat-form-field class="example-full-width" appearance="outline" 
          [ngClass]="{'mat_error_border_color': validFormName('passwordregistro') }">
          <mat-label>Contraseña</mat-label>
          <input formControlName="passwordregistro" type="passwordregistro" matInput>
        </mat-form-field>
        <div class="mat_error" *ngIf="validFormName('passwordregistro')">
          <mat-error *ngIf="validHasError('passwordregistro')===1">
            Este campo es requerido
          </mat-error>
        </div>

      </div>

      <button mat-raised-button class="btn-login" color="primary" (click)="executeForm(tipo)">{{nameBtn}}</button>
    </form>
  </div>
</main>