.contenido {
  padding: 2.5%;

  .titulo {
    font-size: 2rem;
    color: #ff4d4d;
    font-weight: bold;
    margin-bottom: 2.5%;
    line-height: 2.5;
    border-bottom: 2px solid #ff4d4d;
  }

  .mat-elevation-z8 {
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    animation: fadeInUp 0.5s ease;
    overflow: hidden;

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 12px;
        text-align: left;
      }

      .custom-header-cell, .custom-cell {
        border-bottom: 2px solid #f2f2f2;
      }

      .custom-row {
        &:hover {
          background-color: #f9f9f9;
        }
      }
    }

    .mat-paginator {
      margin-top: 20px;
    }
  }

  .titulo_icons {
    display: flex;

    .actualizar, .eliminar {
      margin-right: 15%;
    }
  }

  .icons {
    display: flex;

    .actualizar, .eliminar, .informacion {
      margin-left: 5%;
      margin-right: 18%;

      mat-icon {
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #FFC300;
        }
      }
    }

    .eliminar {
      mat-icon {
        cursor: pointer;
        color: red;

        &:hover {
          color: darkred;
        }
      }
    }

    .informacion {
      mat-icon {
        cursor: pointer;
        color: skyblue;

        &:hover {
          color: deepskyblue;
        }
      }
    }
  }
}

.custom-dialog-container{
  width: 80%;
}