<div class="contenido">
  <h1 class="titulo">LISTAR CITAS</h1>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- ID Cita Column -->
      <ng-container matColumnDef="idCita">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
          ID Cita
        </th>
        <td mat-cell *matCellDef="let element" class="custom-cell">
          {{ element.idCita }}
        </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
          Nombre
        </th>
        <td mat-cell *matCellDef="let element" class="custom-cell">
          {{ element.nombre }}
        </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
          Fecha
        </th>
        <td mat-cell *matCellDef="let element" class="custom-cell">
          {{ element.fecha | date:'short' }}
        </td>
      </ng-container>

      <!-- Hora Cita Column -->
      <ng-container matColumnDef="horaCita">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
          Hora Cita
        </th>
        <td mat-cell *matCellDef="let element" class="custom-cell">
          {{ element.horaCita }}
        </td>
      </ng-container>

      <!-- Motivo Column -->
      <ng-container matColumnDef="motivo">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
          Motivo
        </th>
        <td mat-cell *matCellDef="let element" class="custom-cell">
          {{ element.motivo }}
        </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
          Estado
        </th>
        <td mat-cell *matCellDef="let element" class="custom-cell">
          {{ element.estado }}
        </td>
      </ng-container>

      <!-- Doctor Column -->
      <ng-container matColumnDef="doctor">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
          Doctor
        </th>
        <td mat-cell *matCellDef="let element" class="custom-cell">
          {{ element.doctor }}
        </td>
      </ng-container>

      <!-- Icons Column -->
      <ng-container matColumnDef="icons">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
          <div class="titulo_icons">
            <div class="eliminar">Eliminar</div>
            <div class="informacion">Información</div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="custom-cell">
          <div class="icons">
            <div class="eliminar" (click)="cancelarCita()"><mat-icon>delete</mat-icon></div>
            <div class="informacion" (click)="abrirDetalle( element)"><mat-icon>info</mat-icon></div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="custom-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="custom-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
