<div class="perrito_footer">
  <h1>Mejor Atenci&oacute;n<br>
    Cuando M&aacute;s Lo Necesites
  </h1>
  <img src="../../../../../assets/svg/perrito-footer.svg" alt="dog footer">
</div>  
<footer>
  <div class="container-footer-all">
      <div class="container-body">
        <div class="colum1">
          <h1>M&Aacute;S INFORMACI&Oacute;N DE LA COMPAÑIA</h1>
          <div class="linea_bt"></div>
  
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
            molestias repellat, ea adipisci eius provident hic deserunt asperiores
            voluptatum! Optio architecto pariatur voluptate iusto ex vitae ratione
            fugiat earum cupiditate?
          </p>
        </div>
  
        <div class="colum2">
          <h1>REDES SOCIALES</h1>
          <div class="linea_bt"></div>
  
          <div class="fila">
            <img (click)="irFacebook()" src="../../../assets/icons/facebook.png" />
            <label (click)="irFacebook()" >Siguenos en Facebook</label>
          </div>
          <div class="fila">
            <img src="../../../assets/icons/instagram.png" />
            <label>Siguenos en Instagram</label>
          </div>
          <div class="fila">
            <img (click)="irWhatsapp()" src="../../../assets/icons/whatsapp.png" />
            <label (click)="irWhatsapp()">Siguenos en Whatsapp</label>
          </div>
        </div>
  
        <div class="colum3">
          <h1>INFORMACI&Oacute;N CONTACTOS</h1>
          <div class="linea_bt"></div>
  
          <div class="fila2">
            <img src="../../../assets/icons/house.png" />
            <label>Avenida pacto andino con central</label>
          </div>
  
          <div class="fila2">
            <img src="../../../assets/icons/smartphone.png" />
            <label>+51 922659760</label>
          </div>
  
          <div class="fila2">
            <img src="../../../assets/icons/email.png" />
            <label>josue_vet@hotmail.com</label>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2023 Todos los Derechos Reservados |
          Vet Josue
        </div>
  
        <div class="information">
          <a href="">Informacion Compañia</a> |
          <a href="">Privacion y Politica</a> |
          <a href="">Terminos y Condiciones</a>
        </div>
      </div>
    </div>
</footer>
  