<div class="contenido">
  <h1 class="titulo">LISTAR CITAS</h1>



  <div class=" mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- ID Cita Column -->
      <ng-container matColumnDef="idCita">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell"> ID CITA </mat-header-cell>
        <mat-cell class="custom-cell" *matCellDef="let element"> {{element.cita.id_cita}} </mat-cell>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell"> FECHA </mat-header-cell>
        <mat-cell class="custom-cell" *matCellDef="let element"> {{element.cita.fecha | date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <!-- Hora Cita Column -->
      <ng-container matColumnDef="horaCita">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell"> HORA CITA </mat-header-cell>
        <mat-cell class="custom-cell" *matCellDef="let element"> {{element.cita.hora_cita}} </mat-cell>
      </ng-container>

      <!-- Motivo Column -->
      <ng-container matColumnDef="motivo">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell"> MOTIVO </mat-header-cell>
        <mat-cell class="custom-cell" *matCellDef="let element"> {{element.cita.motivo}} </mat-cell>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell"> ESTADO </mat-header-cell>
        <mat-cell class="custom-cell" *matCellDef="let element"> {{estado[element.cita.estado]}} </mat-cell>
      </ng-container>

      <!-- Cliente Column -->
      <ng-container matColumnDef="cliente">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell"> CLIENTE </mat-header-cell>
        <mat-cell class="custom-cell text-capitalize" *matCellDef="let element"> {{element.mascota.cliente.usuario.nombre +" "+
          element.mascota.cliente.usuario.apellido_paterno+" "+element.mascota.cliente.usuario.apellido_materno}} </mat-cell>
      </ng-container>


       <!-- Evaluar Column -->
       <ng-container matColumnDef="evaluar">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell header-icono">
          <div class="center-icono">
            EVALUAR
          </div>
        </mat-header-cell>
        <mat-cell class="custom-cell icono-terminar" *matCellDef="let element">
          <div class="center-icono">
            <mat-icon (click)="terminarCita(element.cita.id_cita)">check</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Terminar Column -->
      <ng-container matColumnDef="cancelar">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell header-icono">
          <div class="center-icono">
            CANCELAR
          </div>
        </mat-header-cell>
        <mat-cell class="custom-cell icono-cancelar" *matCellDef="let element">
          <div class="center-icono">
            <mat-icon (click)="cancelarCita(element.cita.id_cita)">delete</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Informacion Column -->
      <ng-container matColumnDef="informacion">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell header-icono">
          <div class="center-icono">
            INFORMACIÓN
          </div>
        </mat-header-cell>
        <mat-cell class="custom-cell icono-informacion" *matCellDef="let element">
          <div class="center-icono">
            <mat-icon (click)="infoCita(element)">info</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="custom-header-row "></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-row"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>

  </div>



</div>
