
.sidenav-header{
    color: white;
    background-color: #23282C; 
    position: absolute;
    
    
    // centrar verticalmente
    margin-top: 7px;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    .custom-icon {
        width: 45px;
        height: 45px;
        
        svg {
            width: 100%;
            height: 100%;

            g{
                width: 100%;
                height: 100%;

            }

        }
        
        
       }

    mat-icon{
        font-size: 34px;
        
        width: 100%;
        height: 100%;
        display: block;
        transition: transform 0.3s ease-in-out;
        

    }
    sidenav-icons{
        margin: 0 auto;
    }

    
}

.sidenav-open {
margin-left:186px ;
transition: margin-left 0.5s;
}

.sidenav-closed {
margin-left: 0px;
transition: margin-left 0.1s;
}