.info-modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-top: 30px;
    height: auto;
    color: #fff;
    
    position: relative;
    background: transparent;
    
}

.user-img {
    width: 300px;
    height: 330px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.user-info {
    font-size: 28px;
    margin-bottom: 15px;
}

.close-button {
    
    background:  #005fbe;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
    
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    .close-icon {
        color: #fff;
        margin-right: 0;


    }
}

.close-button:hover {
    background: #db1919;
    
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
