<mat-dialog-content class="info-modal-content">
    <img class="user-img" src="http://localhost:8090/api/vet/petlife/v1.0.0/imagen/doctores/{{imagenSeleccionada}}">
    <p class="user-info "> <strong>Correo electr&oacute;nico:</strong> {{ data.usuario.email }}</p>
    <p class="user-info "> <strong>Nombres:</strong> {{ data.usuario.nombre }}</p>
    <p class="user-info "> <strong>Apellidos:</strong> {{ data.usuario.apellido_materno }} {{ data.usuario.apellido_paterno }}</p>
    <p class="user-info "> <strong>Especialidad:</strong> {{ data.especialidad.descripcion }}</p>
    <p class="user-info "> <strong>Estado:</strong> {{ data.estado }}</p>
</mat-dialog-content>

<button mat-button (click)="onNoClick()" color="primary" class="close-button">
    <mat-icon class="close-icon" color="primary" aria-label="Close dialog" >close</mat-icon>
</button>
