<main class="main">
  <div class="contenedor">
    <div class="nosotros">
      <div class="imagen">
        <img src="../../../../assets/imgs/acerca-de-nosotros.png" alt="" />
      </div>
      <div class="contenido">
        <div></div>
        <h3 class="titulo">Acerca de nosotros</h3>
        <div class="cuerpo">
          Veterinaria "PETS LIFE" es un centro de atención de mascotas que se dedica a proporcionar servicios médicos de alta calidad
           y atención cálida a nuestros pacientes y sus familias. Nuestro compromiso es otorgar los mejores tratamientos médicos
            hospitalarios, adquiriendo habilidades, destrezas y utilizando las últimas tecnologías para garantizar la salud y 
            el bienestar de las mascotas.
        </div>
      </div>
      <div class="espacio"></div>
    </div>

    <div class="vision">
      <div class="imagen">
        <img src="../../../../assets/imgs/vision.png" alt="" />
      </div>
      <div class="contenido">
        <h3 class="titulo">Vision</h3>
        <div class="cuerpo">
          Ser reconocidos como una clínica veterinaria líder en el cuidado y bienestar de los animales, 
          manteniendo normas de excelencia profesional y dedicación al bienestar de las mascotas que atendemos.
        
        </div>
      </div>
      <div class="espacio"></div>
    </div>

    <div class="mision">
      <div class="imagen">
        <img src="../../../../assets/imgs/mision.png" alt="" />
      </div>
      <div class="contenido">
        <h3 class="titulo">Mision</h3>
        <div class="cuerpo">
          Nuestra misión es proporcionar atención médica de calidad a las mascotas, brindando un servicio excepcional 
          y cálido a los pacientes y sus familias. Nos esforzamos por adquirir nuevas habilidades, 
          destrezas y utilizar tecnologías avanzadas para ofrecer tratamientos médicos hospitalarios de primera clase.
          
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>