<main class="main">
  <div class="contenedor">
    <div class="nosotros">
      <div class="imagen">
        <img src="../../../../assets/imgs/acerca-de-nosotros.png" alt="" />
      </div>
      <div class="contenido">
        <h3 class="titulo">Acerca de nosotros</h3>
        <div class="cuerpo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla
          aperiam asperiores magnam omnis aliquid, numquam eos at quis
          temporibus beatae aliquam, accusantium laudantium rerum dignissimos.
          Iste earum temporibus sequi. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Modi nulla aperiam asperiores magnam omnis aliquid,
          numquam eos at quis temporibus beatae aliquam, accusantium laudantium
          rerum dignissimos. Iste earum temporibus sequi. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Modi nulla aperiam asperiores
          magnam omnis aliquid, numquam eos at quis temporibus beatae aliquam,
          accusantium laudantium rerum dignissimos. Iste earum temporibus sequi.
        </div>
      </div>
      <div class="espacio"></div>
    </div>

    <div class="vision">
      <div class="imagen">
        <img src="../../../../assets/imgs/vision.png" alt="" />
      </div>
      <div class="contenido">
        <h3 class="titulo">Vision</h3>
        <div class="cuerpo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla
          aperiam asperiores magnam omnis aliquid, numquam eos at quis
          temporibus beatae aliquam, accusantium laudantium rerum dignissimos.
          Iste earum temporibus sequi. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Modi nulla aperiam asperiores magnam omnis aliquid,
          numquam eos at quis temporibus beatae aliquam, accusantium laudantium
          rerum dignissimos. Iste earum temporibus sequi. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Modi nulla aperiam asperiores
          magnam omnis aliquid, numquam eos at quis temporibus beatae aliquam,
          accusantium laudantium rerum dignissimos. Iste earum temporibus sequi.
        </div>
      </div>
      <div class="espacio"></div>
    </div>

    <div class="mision">
      <div class="imagen">
        <img src="../../../../assets/imgs/mision.png" alt="" />
      </div>
      <div class="contenido">
        <h3 class="titulo">Mision</h3>
        <div class="cuerpo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla
          aperiam asperiores magnam omnis aliquid, numquam eos at quis
          temporibus beatae aliquam, accusantium laudantium rerum dignissimos.
          Iste earum temporibus sequi. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Modi nulla aperiam asperiores magnam omnis aliquid,
          numquam eos at quis temporibus beatae aliquam, accusantium laudantium
          rerum dignissimos. Iste earum temporibus sequi. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Modi nulla aperiam asperiores
          magnam omnis aliquid, numquam eos at quis temporibus beatae aliquam,
          accusantium laudantium rerum dignissimos. Iste earum temporibus sequi.
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>