.contenido {
  padding: 2.5%;
  .titulo {
    font-size: 2rem;
    color: #ff4d4d;
    font-weight: bold;
    margin-bottom: 2.5%;
    line-height: 2.5;
    border-bottom: 2px solid #ff4d4d;
  }
}

table {
  width: 100%;
}
