<main class="main">

  <div class="container_grid">
    <div class="bg_portada"></div>
    <div class="atencion"></div>
    <div class="descripcion">
      <span class="titulo">Eran Diferentes</span>
      <span class="contenido"
        >Bond Vet es un hospital para animales diseñado pensando en usted y su
        mascota. Porque así es como creemos que debería funcionar el cuidado de
        las mascotas.
      </span>
    </div>
  </div>


  <div class="nuestro_equipo">
    <h1>Nuestro Equipo</h1>
    <app-card-doctor [listaDoctor]="listaDoctor"></app-card-doctor>
  </div>
</main>

<app-footer></app-footer>
