.main {
  padding-top: 5.4%;
  padding-bottom: 20px;
}

.container_grid {
  display: grid;
  margin-left: 12%;
  margin-right: 12%;
  grid-template-columns: 46% 54%;
  grid-template-areas: "portada atencion"
                        "descripcion atencion";
  .bg_portada {
    grid: portada;
    background-image: url("../../../../assets/imgs/home_portada.webp");
    height: 500px;
    background-repeat: no-repeat;
    margin-right: -5%;
  }

  .atencion {
    grid: atencion;
    background-color: #f7f0eb;
    width: 100%;
    height: 100%;
    margin-top: 4%;
  }

  .descripcion {
    grid: descripcion;
    display: flex;
    flex-direction: column;
    .titulo {
      font-family: Sailec-Medium !important;
      font-size: 3.125rem;
      line-height: 1.28;
      color: #103559;
    }
    .contenido {
      font-size: 1.375rem;
      line-height: 2.5rem;
      font-family: Sailec-Light !important;
      color: #103559;
    }
  }
}

//
.nuestro_equipo {
  margin-top: 250px;
  h1 {
    font-size: 3.1rem;
    text-align: center;
    font-weight: 500;
    color: #103559;
    margin-bottom: 70px;
    font-family: Sailec-Medium !important;
  }
}

@media (max-width: 560px) {
  .nuestro_equipo {
    h1 {
      font-size: 8.5vw;
    }
  }
}
