<div *ngIf="data.tipo=='successful'" class="successful-modal-content">
  <mat-icon class="mat-icon successful-icon">check_circle</mat-icon>
  <p>¡Alerta exitosa!</p>
</div>

<div *ngIf="data.tipo=='warning'" class="warning-modal-content">
  <mat-icon class="mat-icon warning-icon">warning</mat-icon>
  <p><strong> ¡Alerta de advertencia! {{data.mensaje}} </strong></p>
  <div>
      <button (click)="eliminar()" class="delete-button">
          <mat-icon class="mat-icon">delete</mat-icon>
          {{data.boton}}
      </button>
  </div>
</div>

<button (click)="onNoClick()" class="close-button">
  <mat-icon class="mat-icon close-icon">close</mat-icon>
</button>
