<mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="logo">
        <img src="../../../../../assets/icons/hueso.png"  alt="">


        <span>PET LIFE PER&Uacute;</span>
    </div>

    <!-- <div class="spacer"></div> -->
    <div class="enlaces-contido">
      <div class="enlaces">
      <a mat-button [disableRipple]="true" *ngFor="let item of listaNavbar; let i = index" (click)="irRuta(i+1)"
      [ngClass]="{'bg-hover2': pintar===i+1}">{{ item }}</a>

      <a *ngIf="  this.token !=null" mat-button [disableRipple]="true"  (click)="irRuta(3)"
      class="bg-hover2">Pedir Cita</a>


      <a class="icono-contenedor login-registro" *ngIf="!(token!=null)" matTooltip="Iniciar Sesi&oacute;n"
       >
        <mat-icon   (click)="irRuta(6)" [ngClass]="{'bg-hover2': pintar===6}" class="icon-login" >account_circle</mat-icon>
      </a>

      <a class="icono-contenedor" (mouseover)="mostrarSubMenu=true" (mouseleave)="mostrarSubMenu=false" >
        <div class="perfil">
          <div class="name_img">
            <span *ngIf="token!=null" class="nombre-usuario ">{{token.nombre }}</span>
            <img *ngIf="token!=null" [src]="imagenSeleccionada"  alt="" class="img-usuario">
          </div>
          <div  *ngIf="mostrarSubMenu" class="sub_perfil">
            <ul>
              <li class="ir_cuenta" (click)="cuenta()" >Ir a tu cuenta </li>
              <li class="cerrar_sesion" (click)="logout()">Cerrar Sesi&oacute;n</li>
            </ul>
          </div>
        </div>
      </a>

      </div>

    </div>


</mat-toolbar>
