mat-toolbar {
  // padding-right: 0 !important;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between; /* Coloca los elementos al inicio y al final */
}
.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #fcfcfc;
}
.enlaces-contido {
  flex-grow: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  justify-content: flex-end; /* Centra los elementos del segundo div */
  .enlaces {
    margin: 0 auto; /* Centra verticalmente y elimina el margen horizontal */
    a {
      font-weight: bold;
      font-size: 1rem;
      color: #295889;
      &:hover {
        transition: 0.1s;
        color: #ff4d4d;
      }
    }

    .icono-contenedor {
      cursor: pointer;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      min-width: 64px;
      border: none;
      outline: none;
      line-height: inherit;
      user-select: none;
      overflow: visible;
      vertical-align: middle;
      text-decoration: none !important;
      .nombre-usuario {
        font-weight: bold;
        font-size: 1rem;
        color: #295889;
        cursor: pointer;
        margin-right: 2%;
        margin-left: 5%;
      }
      .img-usuario {
        width: 45px;
      }
      &:hover .nombre-usuario {
        transition: 0.1s;
        color: #ff4d4d;
      }
    }

    .icon-login {
      font-size: 50px;
      height: 50px;
      width: 50px;
      &:hover {
        color: #ff4d4d;
        transition: 0.1s;
      }
    }
    .bg-hover2 {
      color: #ff4d4d !important;
    }
  }
}

.logo {
  padding-left: 25px !important;
  span {
    color: #295889;
    padding-left: 12%;
    font-family: Sailec-Medium !important;
  }
  img {
    width: 90px;
    filter: invert(50%) sepia(32%) saturate(3543%) hue-rotate(329deg)
      brightness(99%) contrast(104%);
  }
}

.mat-mdc-button {
  --mat-mdc-button-persistent-ripple-color: none;
}
.mdc-button {
  height: 100%;
}

.img-usuario:hover + .nombre-usuario {
  color: #ff4d4d !important;
}
