.grid_login {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "form imagen";
  
    .formulario {
      grid-area: form;
      background-color: #faf8f9;
      form {
        display: flex;
        flex-direction: column;
        margin: 7.6875rem 15% 0;
        .titulo {
          // margin-top: 15%;
          margin-bottom: 0;
          font-size: 2.25rem;
          line-height: 3.375rem;
          font-family: Sailec-Bold !important;
          color: #10365a;
          text-align: center;
        }
        .descripcion {
          font-family: Sailec-Medium !important;
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: center;
        }
        .btn-login {
          height: 3.75rem;
          font-weight: bold;
          color: white;
          margin-top: 1.875rem;
          background-color: #10365a;
        }
        .btn-login:hover {
          background-color: #295889;
          transition: 0.1s;
        }
        .tipo {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-areas: "iniciar registrar";
          .iniciar,
          .registrar {
            a {
              cursor: pointer;
              text-decoration: none;
              font-family: Sailec-Medium !important;
              color: #10365a;
            }
            .pintar {
              color: #ff4d4d !important;
              border-bottom: 1px solid #ff4d4d;
            }
          }
          .iniciar {
            grid: iniciar;
          }
          .registrar {
            grid: registrar;
            display: flex;
            justify-content: end;
          }
        }
  
        .tipo_login,
        .tipo_registro {
          margin-top: 5rem;
          mat-form-field {
            width: 100%;
            input {
              color: #10365a;
              font-weight: bold;
            }
            mat-label {
              color: #10365a;
              font-weight: bold;
            }
          }
          .mat_error {
            margin-top: -3%;
            margin-bottom: 3%;
          }
          .mat_label_error {
            color: red !important;
          }
        }
        .tipo_registro {
          gap: 0% 4%;
          display: grid;
          grid-template-columns: auto auto;
          // gap: 4%;
          .input_correo{
            grid-row: 1;
            grid-column: 1 / span 2;
          }
          .input_contrasenia{
            grid-row: 2;
            grid-column: 1 / span 2;
          }
          .input_imagen{
            grid-row: 4;
            grid-column: 2;
          }
          .input_especialidad{
            grid-row: 6;
            grid-column: 1 / span 2;
          }
          .image-container{
            grid-row: 5;
            grid-column: 1 / span 2;
            display: flex;
            justify-content: center;
          }
          
        }
      }
    }
  }
  
  // Cambiar color al borde al hacer Focus
  
  .mat_error_border_color {
    ::ng-deep
      .mdc-text-field--outlined:not(
        .mdc-text-field--disabled
      ).mdc-text-field--focused
      .mdc-notched-outline__leading,
    ::ng-deep
      .mdc-text-field--outlined:not(
        .mdc-text-field--disabled
      ).mdc-text-field--focused
      .mdc-notched-outline__notch,
    ::ng-deep
      .mdc-text-field--outlined:not(
        .mdc-text-field--disabled
      ).mdc-text-field--focused
      .mdc-notched-outline__trailing {
      border-color: red !important;
    }
  }
  
  ::ng-deep
    .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  ::ng-deep
    .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  ::ng-deep
    .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: #10365a;
  }
  
  @media (max-width: 992px) {
    .grid_login {
      display: grid;
      grid-template-columns: 100%;
      grid-template-areas: "form";
  
      .formulario {
        height: 100%;
      }
    }
  }
  
  mat-error{
    margin-top: 1%;
  }
  