/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*:not(mat-icon){
    margin: 0;
    padding: 0;
    font-family: Sailec-Thin !important;
}

.mat-mdc-cell{
    font-weight: bold;
}
.mat-mdc-header-cell{
    font-weight: bolder;
}

@font-face {
    font-family: 'Silka-Regular';
    src: url('./assets/fonts/Sillka-regular.ttf') format('truetype');
}

.custom-header-cell {
  font-weight: bold;
  color: #fff;
}
.custom-cell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}
.custom-header-row {
  background-color: #4477aa !important;
}
.custom-row:hover {
  background-color:  #fff3cd !important;
}

.header-icono{
  text-align: center !important;
}
.center-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.icono-terminar{
  color:#4CAF50;

  mat-icon{
    cursor: pointer;
  }
}
.icono-terminar mat-icon:hover {
  color: #1B5E20;
}
.icono-cancelar{
  color: red;
  mat-icon{
    cursor: pointer;
  }
}
.icono-cancelar mat-icon:hover {
  color: darkred;
}

//FONT FAMILY SAILEC
@font-face {
    font-family: 'Sailec-Light';
    src: url('./assets/fonts/Sailec-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Sailec-Medium';
    src: url('./assets/fonts/Sailec-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Sailec-Bold';
    src: url('./assets/fonts/Sailec-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Sailec-Regular-Italic';
    src: url('./assets/fonts/Sailec-Regular-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Sailec-Thin';
    src: url('./assets/fonts/Sailec-Thin.ttf') format('truetype');
}


