
<div class="sidenav_contenido" >
  <ul>

    <li class="sidenav-nav-item" [ngClass]="{'sidenav-nav-item-closed': !sidenavOpen}" >

      <a class="sidenav-nav-link"  >

        <img class="sidenav-link-icon" src="{{imagenSeleccionada}}" >
        <span class="sidenav-link-text">{{name}}</span>

      </a>
    </li>


    <li class="sidenav-nav-item" *ngFor="let item of enlaces" [ngClass]="{'sidenav-nav-item-closed': !sidenavOpen}" >
      <a class="sidenav-nav-link" (click)="irEnlace(item.routeLink)" [class.active]="esEnlaceActivo(item.routeLink)"
         routerLinkActive="active">

        <mat-icon class="sidenav-link-icon">{{item.icon}}</mat-icon>
        <span class="sidenav-link-text">{{item.label}}</span>

      </a>
    </li>

    <li class="sidenav-nav-item" [ngClass]="{'sidenav-nav-item-closed': !sidenavOpen}" >

      <a class="sidenav-nav-link" (click)="logout()">

        <mat-icon class="sidenav-link-icon">exit_to_app</mat-icon>
        <span class="sidenav-link-text">Cerrar Sesi&oacute;n</span>

      </a>
    </li>
    
  </ul>
</div>
