// <h2>Listado de Mascotas</h2>

// <div class="card-container">

//     <mat-card *ngFor="let mascota of mascotas" class="example-card">
//         <mat-card-header>
//           <mat-card-title>{{ mascota.alias }}</mat-card-title>
//           <mat-card-subtitle>{{ mascota.genero }} - {{ mascota.raza }}</mat-card-subtitle>
//         </mat-card-header>
//         <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
//         <mat-card-content>
//             <p><strong>Género:</strong> {{ mascota.genero }}</p>
//             <p><strong>Fecha de Nacimiento:</strong> {{ mascota.fechaNacimiento }}</p>
//         </mat-card-content>
//         <mat-card-actions>
//           <button mat-button>LIKE</button>
//           <button mat-button>SHARE</button>
//         </mat-card-actions>
//       </mat-card>


// </div>

.container{
  margin: 7rem 12% 0;


  h1 {

    margin-bottom: 0 auto;
    font-size: 2.25rem;
    line-height: 3.375rem;
    font-family: Sailec-Bold !important;
    color: #10365a;
    text-align: center;
  }

.card-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  /* Ajusta según sea necesario */
  

  mat-card-header {



    mat-card-title {
      font-family: Sailec-Medium !important;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #10365a;
    }


  }

  p {
    margin: 7px;
    font-family: Sailec-Medium !important;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #10365a;
  }

}

.example-card {
  max-width: 420px;
  /* Ajusta según sea necesario */
  margin: 10px;
  /* Espacio entre las tarjetas */
}
}

