
*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;


}

.container{

  width: 80%;
  margin: 7rem 12% 0;

  .btn-add{
    height: 3.75rem ;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    position: absolute;
    left: 12%;
    top: 6.5rem;
    background-color: #10365a;

  }


  h1 {

    margin: 0 auto;
    font-size: 2.25rem;
    line-height: 3.375rem;
    font-family: Sailec-Bold !important;
    color: #10365a;
    text-align: center;
  }

.card-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  /* Ajusta según sea necesario */
  

  mat-card-header {



    mat-card-title {
      font-family: Sailec-Medium !important;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #10365a;
    }


  }

  p {
    margin: 7px;
    font-family: Sailec-Medium !important;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #10365a;
  }

}

.example-card {
  max-width: 420px;
  /* Ajusta según sea necesario */
  margin: 10px;
  /* Espacio entre las tarjetas */
}
}

@media (max-width: 1170px) {
  .container {
    .btn-add{
      
      top: 3.5rem;

  
    }
  }
}
